@media only screen and (max-width: 37.5em) and (min-width:20.1em) { /*  MEDIUM  */
    .grid {
        grid-template-columns: 30% 30%;
    }
}
@media only screen and (min-width: 64em) { /* LARGE */
    .grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 25% 25% 25%;
    }
}
@media (max-width: 20em) { /* SMALL */
    .grid { 
    grid-template-columns: 1fr;
    grid-gap: 20px; 
    }
}

.grid div img {
    height: auto;
    display: block;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

